@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --bg-color: #0D1117;
  --bg-color--secondary: #010409;
  --border-color: #30363D;
  --blue-color: #2276F5;
  --font-color--secondary: #E5E5E5;
  --font-color: white;
  --span-text: var(--font-color);
  --color-link: #2276F5;
  --lexend-font: 'Lexend', sans-serif;
  --roboto-font: 'Roboto', sans-serif;

  --border: 1px solid var(--border-color);
  --border-radius: 5px;

  --flutter-color: #2eb2ee;
  --dart-color: #00b4ab;
  --html-color: #da5e3fff;
  --css-color: #e34c26ff;
  --php-color: #4f5d95ff;
  --js-color: #f1e05aff;
}


main {
  width: 80%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a,
p {
  font-family: var(--lexend-font);
  color: var(--font-color--secondary);
  font-weight: 300;

}

a {
  text-decoration: none;
  color: var(--color-link);
}

code {
  padding: 16px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: #141a22;
}

body {
  background-color: var(--bg-color);
}

button {
  border: none;
  cursor: pointer;

}

strong {
  color: var(--font-color);

}

hr {
  border: var(--border);
  margin: 16px 32px;
}

label {
  font-size: 1.2rem;
  color: var(--font-color);
  font-family: var(--roboto-font);

}

input,
textarea,
select {
  background-color: var(--bg-color);
  height: 48px;
  border-radius: var(--border-radius);
  border: var(--border);
  color: var(--font-color);
  padding: 6px;
  font-size: 1.2rem;

}

textarea {
  resize: none;

}



input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  margin: 6px;
  accent-color: var(--blue-color);
  width: 1.5rem;
  height: 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;


}



input[type=checkbox]:checked {
  content: "";

  background-color: var(--blue-color);
}

input[type=checkbox]:checked:after {
  content: "\2713";
}

input:hover,
textarea:hover,
select:hover {

  border-color: var(--blue-color);
}

select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

footer {
  border-top: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  padding: 32px 0;
  background-color: var(--bg-color--secondary);
}


.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex--column {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
  font-weight: 400;

  padding: 3px 6px;
  border-radius: var(--border-radius);
  background-color: var(--bg-color--secondary);
  border: 1px solid transparent;

}

.button:hover {
  border-color: var(--border-color);
}



.background--blue {
  padding: 0 6px;
  background-color: var(--blue-color);
  color: var(--span-text);
}


.social-links {
  padding: 18px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;

}


@media screen and (max-width: 762px) {

  .hidden-mobile {
    display: none;
  }

  main {
    width: 100%;
  }

}



.light-mode {
  --bg-color: white;
  --bg-color--secondary: #f6f8faff;
  --border-color: #dae0e6ff;
  --blue-color: #2276F5;
  --font-color--secondary: #656d76ff;
  --font-color: black;
  --color-link: #2276F5;
  --span-text: white;
}