.hero {
  min-height: min(100vh, 1080px);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px 56px;
  gap: 10px;
}



.hero__img {
  width: 512px;
  margin: 0 auto;
  opacity: 0;
}

.hero__img--animate {
  animation: showImage 0.1s linear;
  opacity: 1;

}


@keyframes showImage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero__title {
  display: flex;
  align-items: center;
  color: var(--font-color);
  font-size: 8rem;
  font-weight: bold;
  font-family: var(--roboto-font);
}


.hero__introduction {
  font-size: 4rem;

  font-weight: 300;
  font-family: var(--lexend-font);
}


@media screen and (max-width: 1080px) {
  .hero {
    flex-direction: column;
    padding: 100px 10px;

  }
}


@media screen and (max-width: 762px) {


  .hero__title {
    font-size: 2.8rem;

  }

  .hero__introduction {
    font-size: 2rem;
  }

  .hero__img {
    height: 50vh;
    object-fit: contain;
    width: 100%;
  }
}