@import url(./projects.css);
@import url(./contact-section.css);

.section {
  margin: 0 auto;
  padding: 16px;

}

.section-container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 16px 32px;

}

.container__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: white;
  font-family: var(--roboto-font);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;

}

/* TAB */

.tab__name {
  color: var(--blue-color);
  font-family: var(--roboto-font);
  font-weight: 400;
}

.tab__name--white {
  color: white;
}

.tab__desc {
  width: 100%;
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tab__icon {
  margin: 0 12px;
  font-size: 1.5rem;
  transition: transform 0.1s;
}

.tab__icon--animation {
  transform: rotate(180deg);
}

.tab-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 24px 0;
}

.tab-container:hover {
  border-color: var(--blue-color);

}

.tab__information {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px;
  color: var(--font-white);
  font-weight: 300;
}


.more-container {
  display: none;
  flex-direction: column;
}


.more-container--animation {
  display: flex;

}

.more-container__content {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 16px;
}

.more-container__content--column {
  flex-direction: column;
}

.more-container__content--img {
  height: 480px;
  object-fit: cover;
  margin: auto auto;
}


.more-container__links {
  padding-bottom: 16px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (max-width: 762px) {

  .section-container {
    padding: 16px;

  }

  .more-container__content {
    flex-direction: column;

  }

  .more-container__content--img {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
  }
}


/*  END TAB */