.project-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: var(--border);
  border-radius: 5px;
  margin: 24px 0;
}

.project-container:hover {
  border-color: var(--blue-color);

}



.project__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  padding: 6px;
  color: var(--font-white);
  font-weight: 300;
}





.project__name {
  color: var(--blue-color);
  font-family: var(--roboto-font);
  font-weight: 400;
}


.project__tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 16px;
  width: 100%;
}


.tech-list__item {
  display: flex;
  align-items: center;

}

.tech-list__icon {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: red;
  margin: 6px;
  margin-left: 16px;
}

.project__action-icon {
  font-size: 2rem;
  color: var(--font-white);
  margin-right: 16px;

}


.more-container {
  display: none;
  flex-direction: column;
}


.more-container--animation {
  display: flex;
  flex-grow: 1;

}

.more-container__text {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 16px;
}

.more-container__img {
  height: 480px;
  object-fit: cover;
}

.more-container__links {
  padding-bottom: 16px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (max-width: 572px) {

  .more-container__text {
    flex-direction: column;

  }

  .more-container__img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
}