

.project__tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 16px;
  width: 100%;
}


.tech-list__item {
  display: flex;
  align-items: center;

}

.tech-list__icon {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: red;
  margin: 6px;
  margin-left: 16px;
}

.project__action-icon {
  font-size: 2rem;
  color: var(--font-white);
  margin-right: 16px;

}